<div class="card">
  <p-carousel
    [value]="cats"
    [circular]="true"
    [autoplayInterval]="3000"
  >
    <ng-template let-cat pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img [src]="cat.image" alt="Foto de gato" style="width: 30%" />
          </div>
        </div>
        <div class="mb-3 font-medium">
          <p>GATO</p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
