:root {
  --white: #fff;
  --grey: #efefef;

  --grey-010: #9b9ba0;

  --primary-color: #262835;
  --secondary-color: #ff5473;

  --black: #10101a;
  --black-010: #2a2a30;

  --pink: #faa6a6;
  --pink-010: #f99090;

  --red: #f54747;
  --red-010: #f42f2f;
}
